
<header class="header">
  <h1>エンジニア同士がスキルで繋がれるマッチングアプリ</h1>
</header>

<div class="login">
#ここにログインなど、デバイス実装後設置
</div>

<h2>繋がれるユーザー一覧</h2>
<div class="search-bar">
  #ここに検索バー設置。
</div

<div class="user-list">
#ここにユーザー一覧を表示。
</div>

