
<header class="header">
  <h1>エンジニア同士がスキルで繋がれるマッチングアプリ</h1>
</header>

<div class="login">
#ここにログインなど、デバイス実装後設置
</div>


#ここに検索バー設置。
<%= form_with url: search_path, method: :get, local: true do |f| %>
  <h2>繋がれるユーザー一覧</h2>
    <div class="search-bar">
      <p>フリーワード検索：<%= f.text_field :search, placeholder: "フリーワード検索" %></p>
      <p>スキルで検索：<%= f.text_field :skill, placeholder: "スキルで検索" %></p>
      <%= f.submit "検索", style: "background-color: #6B61D8; color: white; font-size: 16px; padding: 10px 30px; border: none; border-radius: 5px;" %>
    </div>
<%end%>

#ここにユーザー一覧を表示。
<div class="user-list">


</div>

